@model AMMS.Models.ViewModels.UnitViewModel

@{
    ViewData["Title"] = "Create Unit";
}

<h2>Create</h2>

<h4>Unit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="UIC" class="control-label"></label>
                <input asp-for="UIC" class="form-control" />
                <span asp-validation-for="UIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitName" class="control-label"></label>
                <input asp-for="UnitName" class="form-control" />
                <span asp-validation-for="UnitName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPhone" class="control-label"></label>
                <input asp-for="UnitPhone" class="form-control" />
                <span asp-validation-for="UnitPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Station" class="control-label"></label>
                <input asp-for="Station" class="form-control" />
                <span asp-validation-for="Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

