@model AMMS.Models.ViewModels.RelatedMaintenanceViewModel

@{
    ViewData["Title"] = "Edit Related Maintenance";
}

<h2>Edit Related Maintenance: @Model.SerialNumber</h2>

<h4>Related Maintenance</h4>
<p>@Model.FaultText</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRelatedMaintenance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <input type="hidden" asp-for="FaultStatus" class="form-control" />
            <input type="hidden" asp-for="SerialNumber" class="form-control" />
            <input type="hidden" asp-for="SystemCode" class="form-control" />
            <input type="hidden" asp-for="FaultDate" class="form-control" />
            <input type="hidden" asp-for="FaultNumber" class="form-control" />
            <input type="hidden" asp-for="FaultText" class="form-control" />
            <input type="hidden" asp-for="FaultId" class="form-control" />
            <div class="form-group">
                <label asp-for="Status" class="control-label">STATUS</label>
                <input asp-for="Status" class="form-control" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RelatedMaintenanceAction" class="control-label">RELATED MAINTENANCE ACTION</label>
                <input asp-for="RelatedMaintenanceAction" class="form-control" />
                <span asp-validation-for="RelatedMaintenanceAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectiveAction" class="control-label">CORRECTIVE ACTION</label>
                <input asp-for="CorrectiveAction" class="form-control" />
                <span asp-validation-for="CorrectiveAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PID" class="control-label">PID</label>
                <input asp-for="PID" class="form-control" />
                <span asp-validation-for="PID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">CAT</label>
                <select asp-for="Category" class="form-control">
                    <option value=""></option>
                    <option value="C">C: Crew</option>
                    <option value="O">O: AVUM</option>
                    <option value="F">F: AVIM</option>
                    <option value="D">D: Depot</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MMH" class="control-label">MMH</label>
                <input asp-for="MMH" class="form-control" />
                <span asp-validation-for="MMH" class="text-danger"></span>
            </div>
            @if (User.IsInRole("TI") && Model.isTIReady() && Model.PID != ViewBag.PID)
            {
                <div class="form-group">
                    <label asp-for="TIPID" class="control-label">TI PID</label>
                    <input asp-for="TIPID" value="@ViewBag.PID" class="form-control" />
                    <span asp-validation-for="TIPID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TIManHrs" class="control-label">TI MMH</label>
                    <input asp-for="TIManHrs" class="form-control" />
                    <span asp-validation-for="TIManHrs" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="TIPID" class="control-label">TI PID</label>
                    <input asp-for="TIPID" class="form-control" readonly />
                    <span asp-validation-for="TIPID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TIManHrs" class="control-label">TI MMH</label>
                    <input asp-for="TIManHrs" class="form-control" readonly />
                    <span asp-validation-for="TIManHrs" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListRelatedMaintenance" asp-route-parentId="@Model.FaultId">Back to List</a>
</div>

