<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />-->
    <!-- Reset stylesheet -->
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" />
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
    <!-- Font Awesome CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <!-- My custom stylesheet -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <title>AMMS: @ViewData["Title"]</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo.png" height="60px" width="auto" /></a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Legal">Legal</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <main class="container body-content" id="main">
        @RenderBody()
    </main>

    <footer class="container-fluid">
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <ul class="nav navbar-nav" id="copy">
                <li>&copy; 2018 - Vector Aviation. All rights reserved.</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://aaronday.info" target="_blank">
                        <span aria-hidden="true" class="fa fa-user fa-2x" title="Homepage"></span>
                    </a>
                </li>
                <li>
                    <a href="mailto:aaron.day@mail.com?Subject=Profile%20contact" target="_blank">
                        <span aria-hidden="true" class="fa fa-envelope fa-2x" title="Email"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/day-aaron/amms" target="_blank">
                        <span aria-hidden="true" class="fa fa-linkedin fa-2x" title="LinkedIn"></span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Aaron-Day" target="_blank">
                        <span aria-hidden="true" class="fa fa-github fa-2x" title="GitHub"></span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
