@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div>
    <h3>Aviation Maintenance Management System</h3>
    <p>This software will enhance the Army's ability to more accurately track and control aviation maintenance, records and logistics. The program is designed to have a user-friendly atmosphere while reducing man-hours through automation.</p>
    <p>
        Oregon Institute of Technology<br />
        Software Engineering Technology<br />
        2018 Senior Project<br />
        Aaron Day
    </p>
</div>
