@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid" role="presentation">
    <div class="container-fluid" role="presentation">
        <h1>AMMS</h1>
        <h3>Aviation Maintenance Management System</h3>
    </div>
</div>