@{
    ViewData["Title"] = "Legal Notice";
}
<h2>@ViewData["Title"]</h2>

<div>
    <h4>Privacy Act System Notice - A1111.01TRADOC</h4>
    <p>Disclosure of personal information contained in this database to agencies or individuals outside the Department of Defense is prohibited by the Privacy Act of 1974 (5 U.S.C. 552a) and is punishable by a fine of not more than $5,000.</p>
    <p>Users are advised that the Privacy Act requires all computer input and output reflecting name and SSN be destroyed by burning or shredding when it has become obsolete. Computer printouts and data diskettes will be stored in locked cabinets or secured rooms during non-duty hours.</p>
</div>