@model IList<AMMS.Models.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "ManageRoles";
}

<h2>Manage Roles: @ViewBag.User.LastName, @ViewBag.User.FirstName</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-sm-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Assigned</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => x[i].RoleName)</td>
                            <td>@Html.CheckBoxFor(x => x[i].Assigned)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <button class="btn btn-success" type="submit">Save</button> |
        <a asp-action="List">Back to List</a>
    </div>
}